@page "/comerciales"


<div class=" container-1">
    <h1 class="title">
		Flota de Carga
	</h1>
    <div class="subContainer">
        <div class="card">
            <div class="card-header">
                <img src="#" alt="Alternate Text" />
                <h3>Wilmar</h3>
            </div>
            <div class="card-body">
                <p>Comerciales</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="#" alt="Alternate Text" />
                <h3>Andres</h3>
            </div>
            <div class="card-body">
                <p>Comerciales</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="#" alt="Alternate Text" />
                <h3>Rubby</h3>
            </div>
            <div class="card-body">
                <p>Comerciales</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="#" alt="Alternate Text" />
                <h3>Flota</h3>
            </div>
            <div class="card-body">
                <p>Comerciales</p>
            </div>
        </div
         <div class="card">
            <div class="card-header">
                <img src="#" alt="Alternate Text" />
                <h3>TMB</h3>
            </div>
            <div class="card-body">
                <p>Comerciales</p>
            </div>
        </div>
    </div>
</div>


@code {

}
