@page "/flota"

<PageTitle>Flota</PageTitle>

<div>
	<h1 class="title">
		Flota de Carga
	</h1>
	<div class="Container-1">
		<div class="sub-Container1">
			<div class="card">
				<div class="card-header">
					<h3>Cantidad Vehiculos</h3>
				</div>
				<div class="card-body cant_Vehiculos_Flota">
					<h1>38</h1>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Gasto Mantenimiento</h3>
				</div>
				<div class="card-body">
					<h1>$ 170,000,000</h1>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Gasto Actual</h3>
				</div>
				<div class="card-body">
					<h1>$ 203,197,817</h1>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Objetivo</h3>
				</div>
				<div class="card-body">
					<h1></h1>
				</div>
			</div>
		</div>
		<div class="sub-Container2">
			<div class="card CardCompleto">
				<div class="card-header">
					<h3>Estado Facturación TMB</h3>
				</div>
				<div class="card-body">
					<p></p>
				</div>
			</div>
		</div>
		<div class="sub-Container3">
			<div class="card">
				<div class="card-header">
					<h3>% Mantenimiento</h3>
				</div>
				<div class="card-body porcentaje_Mantenimiento">
					<h1>50%</h1>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Vehiculos disponibles</h3>
				</div>
				<div class="card-body porcentaje_Mantenimiento">
					<h1>35</h1>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>En Mantenimiento</h3>
				</div>
				<div class="card-body porcentaje_Mantenimiento">
					<h1>3</h1>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Contratacion Vehiculos</h3>
				</div>
				<div class="card-body porcentaje_Mantenimiento">
					<h1>298</h1>
				</div>
			</div>
		</div>
		<div class="sub-Container4">
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
		</div>
		<div class="sub-Container5">
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
				
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	

}
