.general-Dashboard {
    width: 100%;
}

.title {
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}
.title:hover {
    color: darkred;
    cursor: pointer;
   transform: translateX(10px);
}

.Container-1 {
    width: 100%;
    display: flex;
    display: inline-block
}

.sub-Container1 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    
}

.sub-Container2 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sub-Container3 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sub-Container4 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.card {
    width: 28%;
    height: 35vh;
    text-align: center;
    border-radius: 10px;
   
}
.card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
.card2:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;


}
.card4:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
.card5:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
.car6:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.card-header{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.card2 {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    height: 35vh;
    border-radius: 10px;
   
}

.card4 {
    width: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    height: 35vh;
    text-align: center;
    border-radius: 10px;
  
}
.card5 {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    height: 25vh;
    text-align: center;
    border-radius: 10px;
   
}
.car6 {
    width: 28%;
    height: 20vh;
    text-align: center;
    border-radius: 10px;
    
}
tr:hover {
    background-color: #f5f5f5;
}
.table {
     /* Agregar sombra suave */
    border-radius: 10px; /* Borde redondeado */
    overflow: hidden; /* Ocultar el desbordamiento */
}

thead {
 /* Color de fondo del encabezado */
    color: black; /* Color del texto del encabezado */
}
.objetivo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.objetivo h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}
tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Color de fondo de las filas pares */
}
td {
    transition: background-color 0.3s ease; /* Agregar transición de color de fondo */
}

    td:hover {
        background-color: #f5f5f5; /* Cambiar el color de fondo al pasar el cursor */
    }
th {
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Alineación centrada */
    /* Espaciado interno */
}
.vehiculos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
}
.vehiculos img {
    width: 50%;
}
.cant {
    font-size: 4.5rem;
    font-weight: 600;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}
.mtto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-shadow: 1px 1px 1px #000000;
    font-weight: 600;
}
.actual {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.4rem;
    text-shadow: 1px 1px 1px #000000;
    font-weight: 600;
}
.enMantenimiento {
    display: flex;
    justify-content: center;
    align-items: center;
}
.enMantenimiento img {
    width: 60%;
}
.enMantenimiento h1 {
    font-size: 4.5rem;
    font-weight: 600;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}
.VDisponibles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.VDisponibles img {
    width: 60%;
}
.VDisponibles h1 {
    font-size: 4.5rem;
    font-weight: 600;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}
.card-header h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    
}}