@layout Logintmb
@page "/login"


<PageTitle>Flota</PageTitle>

<div class=" container">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
		
		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">CREAR CUENTA</label>
				<input type="text" name="txt" placeholder="User name" required="">
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<button>CREAR CUENTA</button>
			</form>
		</div>

		<div class="login">
			<form>
				<label for="chk" aria-hidden="true">INICIAR SESION</label>
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<button>INICIAR</button>
			</form>
		</div>
	</div>
</div>

@code {



}
