@page "/tmb"

<PageTitle>TMB</PageTitle>

<div>
	<h1 class="title">
		TMB
	</h1>
	<div class="Container-1">
		<div class="sub-Container1">
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
		</div>
		<div class="sub-Container2">
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
		</div>
		<div class="sub-Container3">
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
		</div>
		<div class="sub-Container4">
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3>Flota</h3>
				</div>
				<div class="card-body">
					<p>Flota</p>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
